<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Define your beans here -->
    
    <!-- Definir dependencia -->
    <bean id="miFortuna"
    	class="com.EmmaSpring.Demo_Uno.ServicioFelizDeFortuna">    
    </bean>
    
    <bean id="Entrenador" 
    	  class="com.EmmaSpring.Demo_Uno.Entrenador_BasquetBall">
    	  <!-- Aplicar inyeccion de dependencia al constructor-->
    	 <constructor-arg ref="miFortuna"></constructor-arg>
    	  
    </bean >
</beans>





